Source: pyjamas
Section: python
Priority: extra
Maintainer: Luke Kenneth Casson Leighton <lkcl@lkcl.net>
Build-Depends: debhelper (>= 7.0.50~), python
Build-Depends-Indep: python-support (>= 0.5.3)
Standards-Version: 3.9.4
Homepage: http://pyj.be

Package: pyjamas-ui
Architecture: all
Depends: ${misc:Depends}
Description: Python Pyjamas Web Widget Set library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 Pyjamas Desktop is the desktop version, where the exact same
 application can also be run stand-alone on the desktop
 (where debugging is slightly easier).
 .
 This package contains the User-Interface.

Package: pyjamas
Architecture: all
Depends: ${misc:Depends}, pyjamas-ui, pyjamas-pyjs, pyjamas-gchart, pyjamas-gmap
Recommends: pyjamas-doc
Description: Python web widget toolkit and Python-to-Javascript compiler
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 Pyjamas is typically used for the development of "Web 2.0" RIAs,
 where the application can be almost exclusively written in Python,
 instead of Javascript, yet compiled to run in the user's browser.
 Pyjamas also supports running the application as pure Python,
 unmodified, using Pyjamas Desktop (conceptually similar to Adobe AIR)
 .
 Pyjamas does not do the "usual" static AJAX Javascript framework
 paradigm but instead provides the developer with the tools and the
 libraries to write their own Web 2.0 AJAX Framework, as if they
 were programming and working with a standard Desktop Widget Set.
 All the usual browser incompatibilities (e.g. History Management
 and HTTPRequest) are taken care of.
 .
 The Pyjamas User-Interface Widget Set is startlingly similar to
 that of Python-Qt4 and Python-Gtk2, with the distinct advantage
 that applications run in all major web browsers, with absolutely
 no plugins required (only Javascript need be enabled).  Additional
 advantages over the use of standard Desktop Widget sets are that
 Pyjamas provides direct access to the full set of HTML features -
 CSS, NPAPI Plugins such as Adobe Flash, and SVG 2D Canvas.
 All these are directly available, rather than requiring additional
 components.
 .
 This package is a metapackage that installs the javascript compiler;
 Pyjamas Desktop; the user-interface widget set library and other useful
 libraries.

Package: pyjamas-pyjs
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Recommends: pyjamas-ui
Description: Pyjamas Python-to-Javascript compiler
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains the stand-alone python-to-javascript compiler.

Package: pyjamas-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Python web widget set
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains the documentation and the examples.

Package: pyjamas-canvas
Architecture: all
Depends: ${misc:Depends}, pyjamas-ui
Description: Pyjamas Python port of GWTCanvas SVG Library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains a port of the GWT Canvas library, to Pyjamas.
 Written in pure Python, it can be used to create scalable vector
 graphics applications in a user's web browser (compiled to javascript).
 .
 An online demo is here:
 http://pyjs.org/examples/gwtcanvas/output/GWTCanvasDemo.html
 .
 Please note: pyjamas-canvas is experimental but functional, and does not yet
 provide VML support (used exclusively by IE).  Firefox and Google Chrome
 have been confirmed as working.

Package: pyjamas-gmap
Architecture: all
Depends: ${misc:Depends}, pyjamas-ui
Description: Pyjamas Google Maps (v3) Wrapper Library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains a javascript wrapper around the Google GMaps (v3)
 javascript library.  Rich Media Pyjamas Applications can be developed that
 can take advantage of the interactive features of the Google Maps (v3) API.
 .
 An online demo of the GMaps examples is here:
 http://pyjs.org/examples/gmaps/output/
 .
 Please note: pyjamas-gmaps is experimental but functional.  This
 package simply provides a javascript-specific wrapper around the
 javascript-specific Google GMaps (v3) API, which PyJD cannot interact
 with at present.

Package: pyjamas-gchart
Architecture: all
Depends: ${misc:Depends}, pyjamas-ui
Recommends: pyjamas-canvas
Description: Pyjamas Python port of GWT GChart Charting and Graph Widget Library
 Pyjamas is a stand-alone Python to Javascript compiler, an AJAX
 framework / library and a Desktop-like Widget set.
 .
 This package contains a port of GChart: http://code.google.com/p/gchart to
 Pyjamas.  Written in pure Python, it can be used to create graphs, bar charts
 and pie charts in either a user's web browser (compiled to javascript) or
 as a desktop application.
 .
 An online demo is here:
 http://pyjs.org/examples/gcharttestapp/output/GChartTestApp.html
 .
 Please note: pyjamas-gchart is experimental but functional, and does not yet
 use SVG Canvas (which is much faster).

